.layoutright {
  margin-left: 600px;
  padding: 8em 8em 8em 0em;
  max-width: 700px;
  min-width: 500px;
}

@media screen and (max-width: 480px) {
  .layoutright {
    margin-left: 0px;
    margin: 0px auto;
    min-width: 350px;
    padding: 1em 1em 1em 1em;
  }
}
